
//Inputs del formulario:
#nombre, #email, #asunto {
    border: none;
    border-bottom: 2px solid $primary;
    background-color: transparent;
}

#terminos {
    border-color: $primary;
}

.form-check-label {
    a.text-link {
        color: $secondary; // color inicial similar a text-secondary
        text-decoration: none;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }
}