form {
    
    .inputs {
        border: none;
        border-bottom: 2px solid $primary;
        background-color: transparent;
    }

    .terminos {
        border-color: $primary;
    }
}

.text-link {
        color: $secondary;
        text-decoration: none;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
}



.password-container {
    position: relative;
    width: 100%;
}

.btn-toggle-password {
    position: absolute;
    right: 2rem; 
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;
    color: rgba($primary, 0.6); 
    background-color: transparent;
    border: none;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    
    &:hover {
        color: $primary;
    }

    .was-validated .form-control:invalid ~ &,
    .was-validated .form-control:valid ~ & {
        right: 3rem; 
    }
}
