.navbar {

    // Ajuste para PC
    @media (min-width: 992px) {
        .container-fluid {
            position: relative; // Para que el absolute se base en este contenedor
        }

        .navbar-collapse {
            // Subimos el menú a la misma línea que el logo y el usuario
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            z-index: 1000;
        }
    }

    .logo {
        // clamp(MÍNIMO, TAMAÑO DINÁMICO, MÁXIMO)
        height: clamp(2rem, 3vw, 3rem);
        width: auto;
        object-fit: contain; // Mantiene la proporción sin deformarse
    }

    //para el color de la hamburguesa en tamaño pequeño
    .navbar-toggler {
        color: $secondary;
        border-color: $secondary;
    }

    // navegador del header
    .navbar-nav {
        .nav-link {
            color: $light;
            font-family: $headings-font-family;
            font-size: 1.2rem;

            &.active {
                color: $secondary;
            }

            &:hover {
                color: $secondary;
            }
        }
    }

    // box buscador controlar tamaño mínimo
    // .form-control {
    //     min-width: 8ch;
    // }


    // Derecha el iniciar sesión
    .iniciar-sesion {
        color: $light;
        font-family: $headings-font-family;
        font-size: 1.2rem;


        &.active {
            color: $secondary;
        }

        &:hover {
            color: $secondary;
        }
    }

    // botón del buscador
    .btn-primary {
        background-color: transparent;
        color: $success;
        border: 2px solid $secondary;
        border-radius: 1rem;

        &:hover {
            color: $light;
            background-color: $secondary;
            border-color: $secondary;
        }
    }
}