.navbar {

    @media (min-width: 1200px) {
        .container-fluid {
            position: relative; 
        }

        .navbar-collapse {
            
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            z-index: 1000;
        }
    }

    .logo {
        
        height: clamp(2rem, 3vw, 3rem);
        width: auto;
        object-fit: contain; 
    }

    .navbar-toggler {
        color: $secondary;
        border-color: $secondary;
    }

    .navbar-nav {
        .nav-link {
            color: $light;
            font-family: $headings-font-family;
            font-size: 1.2rem;

            &.active {
                color: $secondary;
            }

            &:hover {
                color: $secondary;
            }
        }
    }

    .iniciar-sesion {
        color: $light;
        font-family: $headings-font-family;
        font-size: 1.2rem;
        text-decoration: none;


        &.active {
            color: $secondary;
        }

        &:hover {
            color: $secondary;
        }
    }

    .btn-primary {
        background-color: transparent;
        color: $success;
        border: 2px solid $secondary;
        border-radius: 1rem;

        &:hover {
            color: $light;
            background-color: $secondary;
            border-color: $secondary;
        }
    }
}