.seccion-hero {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: calc(100vh - 76px); /* 100vh = 100% de la pantalla. Le restamos los píxeles que mide el Header */

    /* Vídeo de fondo */
    .video-fondo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    .capa-oscura {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($dark, 0.75);
        /* Oscurece el vídeo para que el texto contraste */
        z-index: 1;
    }

    /* Contenedor del texto y botones */
    .hero-contenido {
        position: relative;
        z-index: 2;
        color: $light;
        padding: 4rem 1.5rem;
        /* 4rem de padding arriba y abajo para despegarlo de los bordes */
        width: 100%;

        .titulo-hero {
            font-family: $headings-font-family;
            font-size: clamp(2.5rem, 5vw, 4rem);
            margin-bottom: 1rem;

            .resaltado {
                color: $success;
            }
        }

        .descripcion-hero {
            font-family: $font-family-base;
            font-size: 1.25rem;
            color: $light;
            margin: 0 auto 2rem auto;
            max-width: 700px;
            line-height: 1.6;
        }

        /* Botones */
        .hero-acciones {
            display: flex;
            gap: 1rem;
            justify-content: center;
            flex-wrap: wrap;

            .btn {
                // Esto asegura que ambos tengan el mismo ancho mínimo
                min-width: 200px;

                // En pantallas muy pequeñas, que ocupen todo el ancho
                @media (max-width: 576px) {
                    width: 100%;
                    max-width: 300px; // Para que no sean gigantes en móviles grandes
                }
            }

            .btn-primary {
                font-family: $headings-font-family;
                padding: 0.75rem 2rem;


                &.btn-hero-outline {
                    background-color: transparent;
                    border: 2px solid;
                }

                &:hover {
                    background-color: $light;
                    color: $primary;
                }
            }
        }
    }
}