// Colores base
$primary: rgb(8, 53, 80); // Azul marino profundo
$secondary: rgb(60, 162, 146); // Verde azulado
$success: rgb(78, 190, 149); // Verde Menta

// Colores del sistema
$info: rgb(33, 158, 188); // Azul cielo (Para información)
$warning: rgb(255, 183, 3); // Ámbar
$danger: rgb(231, 111, 81); // Terracota
$light: rgb(250, 246, 246); // Fondo principal #F7F9FB
$dark: rgb(18, 27, 38); // Texto muy oscuro (casi negro) #1D2D35

// Fondo personalizado
$body-bg: $light;
$fondo-secundario: rgb(236, 248, 248);

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-VariableFont_wdth\,wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../assets/fonts/Alexandria-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

// Tipos de fuentes
$font-roboto: 'Roboto';
$font-alexandria: 'Alexandria';

$font-family-base: $font-roboto;

$headings-font-family: $font-alexandria;

//Grosores:

$weight-titulo: 600;

// Tamaños de fuentes:
$font-size-base: 1.1rem;
$h1-font-size: $font-size-base * 2.5; // Aproximadamente 40px
$h2-font-size: $font-size-base * 2; // Aproximadamente 32px
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;


// PERSONALIZADO DE BOOTSTRAP

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark
);
