@use 'sass:map';

@import "variables";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

$utilities: map.merge($utilities,
    ("viewport-height": (
        property: height,
        responsive: true,
        class: vh,
        values: (
            100: 100vh,
            50: 50vh,
            30: 30vh
        )
    ))
);

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "header";
@import "hero";
@import "formularios";
@import "formContrasenaOlvidada";
@import "bootstrap-icons";
@import "userConfig";
@import "community";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 5rem; 
}

body {
    background-color: $fondo-secundario;
    font-family: $font-family-base;
}

.card-img-top{
    width: 100%;
    height: 30vh;
    object-fit:cover;
}