@use 'sass:map';

@import "variables";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

/* Modificamos utilities para añadir vh-50 para ranking */
$utilities: map.merge($utilities,
    ("viewport-height": (
        property: height,
        responsive: true,
        class: vh,
        values: (
            100: 100vh,
            50: 50vh
        )
    ))
);

@import "../../node_modules/bootstrap/scss/bootstrap";

/* NUESTROS ARCHIVOS VAN DESPUÉS DE CARGAR TODO BOOTSTRAP */
@import "header";
@import "hero";
@import "formularios";
@import "formContrasenaOlvidada";
@import "bootstrap-icons";
@import "userConfig";

/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Hace que el width incluya padding y border */
    scroll-padding-top: 5rem; 
}

body {
    background-color: $fondo-secundario;
    font-family: $font-family-base;
}

aside {
    padding-top: 5rem;
}