@import "variables";
@import "header";
@import "hero";
@import "formularios";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap-icons";
@import "userConfig";

/* Reset CSS básico */
* {
    margin: 0;       /* Quita márgenes por defecto */
    padding: 0;      /* Quita padding por defecto */
    box-sizing: border-box; /* Hace que el width incluya padding y border */
    scroll-padding-top: 5rem;
}

body {
    background-color: $fondo-secundario;
    font-family: $font-family-base;
}

aside {
    padding-top: 5rem;
}
